{{> header }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Hola mundo</h1>
    </div>
    <div class="col-4">
        <img src="assets/imagenes/Boca_escudo.png" class="img-thumbnail"/>
    </div>
</div>
{{> footer }}